body{
    margin: 0;
    background-color: #132352;
}

.caixaprincipal{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.profilepic{
    width: 150px;
    margin-left: 170px;
    margin-top: 20px;
}
h1{
    position: absolute;
    top: 60px;
    right: 190px;
    color: white;
    font-family: 'Playfair', serif;
}
p{
    color: white;
    text-align: center;
    font-family: 'Playfair', serif;
    font-size: 30px;
}